nav {
  width: 100%;
}

nav svg {
  width: 20px;
  height: 20px;
  color: #000;
}

nav .logo {
  border: 1px solid #000;
  border-radius: 9999px;
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-navbar {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 10%;
  justify-content: center;
  width: auto;
  border-bottom: 1px solid #c5c5c5;
}

.top-navbar i {
  width: 25px;
  height: 25px;
  justify-content: center;
  color: #000;
  display: flex;
  align-items: center;
  padding: 2px;
  border: 1px solid #000;
  border-radius: 9999px;
}

.top-navbar i:hover {
  background-color: #000;
  color: #fff;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  padding: 5px 10%;
  box-shadow: 0px 5px 5px -5px #c5c5c5;
}

ul {
  display: flex;
  gap: 10px;
  list-style: none;
  text-transform: uppercase;
}

ul li > a {
  color: #000;
  font-size: 0.8rem;
}
